<script>
    $(document).ready(function(){
      $('.dropdown-submenu a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });

    $('.searchBox').click(function(e){
e.stopPropagation();
});
    </script>
 
 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <a class="navbar-brand" routerLink="/">Vendor Portal</a>
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/grid" routerLinkActive="active">All Vendor Details<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>-
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown>
                <a href="#" dropdownToggle role="button" aria-expanded="false">Filter By<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            
                                <select  (click) ="stop($event)"class="form-control">
                                  <option>VendorCompany</option>
                                    <option>VendorName</option>
                                    <option>Client</option>
                                  </select>
                                  
                                  <!-- <input type="text" class="form-control" id="submittedStatus"  formControlName="submittedStatus" [(ngModel)]="submittedStatus" name="submittedStatus"> -->
                        </li>
                        <li>
                            <label  for="cmpName">Select {{heading}}</label>
                            <select  (click) ="filter($event)"class="form-control" name="cmpName">
                                  <option *ngFor="let i of companies">{{i}}</option>
                                 
                                </select>
                        </li>
                        <li>
                              <form>
                                  <!-- <div class="form-group">
                                      
                             <input type="text" class="form-control searchBox" (click)="stop($event)" name="cmpName" placeholder="Search">
                            </div> -->
                             <button type="submit" class="btn btn-default">Submit</button>
                                  
                              </form>
                      
                        </li>

                    </ul>
            </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/@beeman_nl"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="https://github.com/beeman"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li> -->
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right" *ngIf = "!signUpVisibilityFlag">
           <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style = "color:white;" >{{patientInfo?.firstname}} <span class="caret"></span></a>
             <ul class="dropdown-menu">
             <li class = "active"><a routerLink="/" style="color: white;" routerLinkActive="active" (click)="logout()">Logout</a></li>
             <li class = "active"><a routerLink="/profile" style="color: white;" routerLinkActive="active">Edit your Profile</a></li>
             </ul>
           </li>
        </ul> -->
        
          <ul class="nav navbar-nav navbar-right" *ngIf = "!signUpVisibilityFlag">

              <li class="dropdown" dropdown> <!-- {1} -->
                  <a dropdownToggle routerLinkActive="active" role="button" > <!-- {2} -->
                    {{patientInfo?.firstname}} <span class="caret"></span></a>
                  <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                    <li><a routerLink="/" style="color: black;" routerLinkActive="active" (click)="logout()">Logout</a></li>
                    <li><a routerLink="/profile" style="color: black;" routerLinkActive="active">Edit your Profile</a></li>
                  </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav">
                           <li class="dropdown dropdown-lg" dropdown> <!-- {1} -->
                                <a dropdownToggle routerLinkActive="active" role="button" aria-expanded="false" > <!-- {2} -->
                                  Drop Down<span class="caret"></span></a>
                                <ul *dropdownMenu class="dropdown-menu col-xs-12" role="menu">
                                  
                                      <form class="form-horizontal" role="form">
                                          <div class="form-group">
                                            <label for="filter">Filter by</label>
                                            <select class="form-control">
                                                <option value="0" selected>All Snippets</option>
                                                <option value="1">Featured</option>
                                                <option value="2">Most popular</option>
                                                <option value="3">Top rated</option>
                                                <option value="4">Most commented</option>
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="contain">Author</label>
                                            <input class="form-control" type="text" />
                                          </div>
                                          <div class="form-group">
                                            <label for="contain">Contains the words</label>
                                            <input class="form-control" type="text" />
                                          </div>
                                          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </form>
                                    
                                  
                                  
                          </ul>
                        </li>
                    
                      </ul>
                      
                      
                      
        
            <div class="pull-right" *ngIf = "signUpVisibilityFlag" >
                <a class = "navbar-brand"  routerLink="/login" routerLinkActive="active" style="color: white;">Sign In</a>
              </div>
          </nav>
           <router-outlet></router-outlet>  